flows.json
[
    {
        "id": "7b231b10.609164",
        "type": "tab",
        "label": "Simulated captor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b99fab55.0645c8",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eaac4d08.87f71",
        "type": "mqtt-broker",
        "z": "",
        "name": "Broker",
        "broker": "basicapp_mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a90b7332.4d22f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "88f0b2ae.af687",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9bd33ad.6ac03",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "88f0b2ae.af687",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "68aae251.82123c",
        "type": "inject",
        "z": "7b231b10.609164",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "8703cfa8.da276"
            ]
        ]
    },
    {
        "id": "8703cfa8.da276",
        "type": "function",
        "z": "7b231b10.609164",
        "name": "Random",
        "func": "msg.payload = Math.random() * 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "d3745a12.fb3c28"
            ]
        ]
    },
    {
        "id": "d3745a12.fb3c28",
        "type": "mqtt out",
        "z": "7b231b10.609164",
        "name": "",
        "topic": "captor",
        "qos": "",
        "retain": "",
        "broker": "eaac4d08.87f71",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "3f4b7d50.a71ad2",
        "type": "mqtt in",
        "z": "b99fab55.0645c8",
        "name": "",
        "topic": "captor",
        "qos": "2",
        "datatype": "auto",
        "broker": "eaac4d08.87f71",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "b7500260.88737",
                "a42172fe.4a148"
            ]
        ]
    },
    {
        "id": "b7500260.88737",
        "type": "ui_gauge",
        "z": "b99fab55.0645c8",
        "name": "",
        "group": "b9bd33ad.6ac03",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Captor",
        "label": "nb",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "a42172fe.4a148",
        "type": "ui_chart",
        "z": "b99fab55.0645c8",
        "name": "",
        "group": "b9bd33ad.6ac03",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    }
]
